@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

font-family: 'Open Sans', sans-serif;

body {
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
    color: #505962; 
}

.navbar {
    text-transform: uppercase;
    font-weight: 700;
    font-size: .9rem;
    letter-spacing: .1rem;
    background: rgba(0, 0, 0, 0.6)!important;
}

.navbar-nav li {
    padding-right: .7rem;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
    padding-top: .8rem;
}

.navbar-dar .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link:hover {
    color: #1ebba3;
}

/*--- Landing Page --*/
.home-inner {
    background-image: url(../images/computers.png);
}
.caption {
    width: 100%;
    max-width: 100%;
    position: absolute;
    top: 38%;
    z-index: 1;
    color: white;
    text-transform: uppercase; 
}

.caption h1 {
    font-size: 3.8rem;
    font-weight: 700;
    letter-spacing: .3rem;
    text-shadow: .1rem .1rem .8rem black; 
}
.caption h3 {
    font-size: 2rem;
    text-shadow: .1rem .1rem .5rem black; 
    padding-bottom: 1.6rem;
}

.btn-lg {
    border-width: medium;
    border-radius: 0;
    padding: .6rem 1.3rem;
    font-size: 1.1rem;
}
